@charset "UTF-8";
html {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 16px;
}

button {
  border: none;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 16px;
}

h1, p {
  padding: 0;
  margin: 0;
}

body {
  background-color: #F8F8F8;
  padding: 0;
  margin: 0;
}

.global-content {
  max-width: 1170px;
  margin: 0 auto;
}

.logo {
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 60px;
}

.nav {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 60px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  background: white;
  max-width: 1170px;
  margin: 0 auto;
}

.btn {
  border-radius: 80px;
  min-width: 100px;
  min-height: 34px;
  background-color: #F4E041;
}
.btn_primary {
  background-color: #F4E041;
  width: 100px;
}
.btn_disabled {
  background-color: #B4B4B4;
}

.btn:hover {
  background-color: #FFE302;
}

.btn {
  border-radius: 80px;
  min-width: 100px;
  min-height: 34px;
  background-color: #F4E041;
}
.btn_primary {
  background-color: #F4E041;
  width: 100px;
}
.btn_disabled {
  background-color: #B4B4B4;
}

.btn:hover {
  background-color: #FFE302;
}

.baner {
  height: 80vh;
  background-image: url("/images/background-UA.webp");
  margin: 0 auto;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.baner__title {
  font-family: "Nunito", sans-serif;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
  font-weight: 300;
}
.baner__text {
  text-align: center;
  color: white;
  font-weight: 400;
  text-align: center;
  line-height: 26px;
  padding-top: 21px;
  padding-bottom: 32px;
}

.btn {
  border-radius: 80px;
  min-width: 100px;
  min-height: 34px;
  background-color: #F4E041;
}
.btn_primary {
  background-color: #F4E041;
  width: 100px;
}
.btn_disabled {
  background-color: #B4B4B4;
}

.btn:hover {
  background-color: #FFE302;
}

html {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 16px;
}

button {
  border: none;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 16px;
}

h1, p {
  padding: 0;
  margin: 0;
}

body {
  background-color: #F8F8F8;
  padding: 0;
  margin: 0;
}

.global-content {
  max-width: 1170px;
  margin: 0 auto;
}

.team-members {
  margin-top: 140px;
  margin-bottom: 140px;
}

.team-members__wrapper {
  background: #F8F8F8;
}
@media screen and (max-width: 767px) {
  .team-members__wrapper {
    display: flex;
    justify-content: center;
  }
}

.team-members__row {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .team-members__row {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (max-width: 767px) {
  .team-members__row {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    width: 40%;
  }
}

.team-members__row:nth-last-child(1) {
  padding-top: 29px;
}
@media screen and (max-width: 767px) {
  .team-members__row:nth-last-child(1) {
    padding-top: 0px;
  }
}

.box-middle {
  margin-left: 29px;
  margin-right: 29px;
}
@media screen and (max-width: 767px) {
  .box-middle {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.team-member__box {
  display: flex;
  width: 33%;
  height: 254px;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: white;
  border-radius: 10px;
}
@media screen and (max-width: 1024px) {
  .team-member__box {
    width: 26%;
  }
}
@media screen and (max-width: 767px) {
  .team-member__box {
    width: 97%;
  }
}

.team-members__title {
  text-align: center;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  padding-bottom: 50px;
}

.text {
  padding-top: 20px;
  text-align: center;
  line-height: 26px;
}

.btn__wrapper {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.btn__team {
  width: 120px;
  height: 34px;
  border-radius: 80px;
}

.form__title {
  font-size: 40px;
  text-align: center;
  line-height: 40px;
  font-weight: 400;
}

.form__content {
  max-width: 382px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input {
  width: 100%;
  height: 54px;
  border: 1px solid #D0CFCF;
  border-radius: 4px;
  background: #F8F8F8;
  padding-left: 4%;
  font-size: 16px;
  line-height: 26px;
}

input:nth-child(1) {
  margin-top: 50px;
}

input:nth-child(2) {
  margin-top: 50px;
  margin-bottom: 50px;
}

.label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0em;
  color: #7E7E7E;
  padding-left: 16px;
}

.container-with-checkbox {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-right: 55%;
}

.text-for-checkbox {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
}

.checkbox-container {
  padding-top: 3%;
}

.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label связанного с .custom-radio */
.custom-radio + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.custom-radio + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
}

.custom-radio:checked + label::before {
  background-image: url(/assets/images/checkbox.png);
  border: 1px solid #00BDD3;
}

.checkbox-title {
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 14px;
}

.input-for-image {
  width: 380px;
  height: 54px;
  border: 1px solid #D0CFCF;
  border-radius: 4px;
  background: #F8F8F8;
  padding-left: 4%;
  font-size: 16px;
  line-height: 26px;
}

.btn {
  line-height: 26px;
  text-align: center;
  font-weight: 400;
  color: black;
  border: none;
  border-radius: 80px;
  width: 100px;
  height: 34px;
}

.btn-for-upload {
  width: 83px;
  height: 54px;
  border: 1px solid rgba(12, 11, 11, 0.8705882353);
  font-size: 16px;
  line-height: 26px;
  color: black;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.input_upload {
  width: 100%;
  height: 54px;
  border: 1px solid #D0CFCF;
  border-radius: 4px;
  background: #F8F8F8;
  font-size: 16px;
  line-height: 26px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#image-label {
  color: #7E7E7E;
  padding-left: 16px;
}

.btn:disabled {
  background: #B4B4B4;
}

/*# sourceMappingURL=index.css.map */
