$primary-color: #F4E041;
$hover-color: #FFE302;
$secondary-color: #00BDD3;
$background-color: #F8F8F8;
$disbaled-color: #B4B4B4;
$text-color-primary: rgba(0, 0, 0, 0.87);
$text-color-secondary: #FFF;


$btn-bg-primary: $primary-color;
$btn-bg-primary-hover: $secondary-color;
$btn-bg-primary-disabled: $disbaled-color;
$btn-text-color-primary: $text-color-secondary;
