$max-content-width: 1170px;
$heading-font-size-regular: 40px;
$paragraph-font-size-regular: 16px;
$paragraph-line-height-regular: 26px;
$header-height: 60px;
$btn-border-radius: 80px;
$background: #F8F8F8;
$padding-team-member: 20px;
$border-radius-content: 10px;