@import './typography';
@import './btn.scss';
@import './base.scss';
@import './media';

.team-members {
    margin-top: 140px;
    margin-bottom: 140px;
}

.team-members__wrapper {
    background: $background;
    @include mobile-sm-down {
        display: flex;
        justify-content: center;
    }

    @include mobile-xs-down {
        display: flex;
        flex-direction: column;
    }
}

// .team-members__row {
//       @include global-content();

// }

.team-members__row {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
   
    @include mobile-md-down {
        padding-left: 25px;
        padding-right: 25px;
    }

    @include mobile-sm-down {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
        width: 40%;
    }

    @include mobile-xs-down {
        flex-direction: column;
        width: 100%;
    }
}

.team-members__row:nth-last-child(1) {
    padding-top: 29px;
    @include mobile-sm-down {
        padding-top: 0px;
    }

    @include mobile-xs-down {
        padding-top: 20px;
    }
}

.box-middle {
    margin-left: 29px;
    margin-right: 29px;
    @include mobile-sm-down {
            margin-top: 16px;
            margin-bottom: 16px;
    }
}

.team-member__box {
    display: flex;
    width: 33%;
    height: 254px;
    flex-direction: column;
    align-items: center;
    padding: $padding-team-member;
    background: white;
    border-radius: $border-radius-content;
    @include mobile-md-down  {
        width: 26%;

    }

    @include mobile-sm-down {
        width: 97%;
    }

    @include mobile-xs-down {
        width: 100%;
    }
}

.team-members__title {
    text-align: center;
    text-align: center;
    font-size: $heading-font-size-regular;
    font-weight: 400;
    line-height: 40px;
    padding-bottom: 50px;
}

.text {
    padding-top: 20px;
    text-align: center;
    line-height: $paragraph-line-height-regular;
}

.btn__wrapper {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.btn__team {
    width: 120px;
    height: 34px;
    border-radius: $btn-border-radius;
}